<div class="d-flex justify-content-center align-items-center mb-2">
    <p class="mb-0" style="font-size: 13px; color: #000000;"><strong>KSK Management System</strong></p>
</div>
<div class="d-flex justify-content-center align-items-center">
    <p class="mb-0" style="font-size: 13px; color: #000000;">Support by &nbsp;</p>
</div>
<div class="d-flex justify-content-center align-items-center">
    <img src="assets/logos/brand_devindex.png" class="img-fluid text-center" alt="" width="15%" />
</div>