<div class="row">
    <div class="col-lg-8 d-flex align-items-strech">
        <div class="card w-100">
            <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <div class="mb-3 mb-sm-0">
                        <h5 class="card-title fw-semibold">Transaksi 7 Hari Terakhir</h5>
                    </div>
                </div>
                <div id="sales-profit"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card bg-secondary-subtle shadow-none w-100">
                    <div class="card-body">
                        <div class="d-flex mb-10 pb-1 justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-6">
                                <div
                                    class="rounded-circle-shape bg-secondary px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:wallet-2-line-duotone"
                                        class="fs-7 text-white"></iconify-icon>
                                </div>
                                <h6 class="mb-0 fs-4 fw-medium text-muted">
                                    Total Income
                                </h6>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-between pt-4">
                            <div class="col-8" *ngIf="total_amount">
                                <h4 class="mb-6 text-nowrap">{{total_amount}}</h4>
                                <span class="badge rounded-pill border border-muted fw-bold text-muted fs-2 py-1">+18%
                                    last
                                    month</span>
                            </div>
                            <div class="col-4">
                                <div id="total-income"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card bg-danger-subtle shadow-none w-100">
                    <div class="card-body">
                        <div class="d-flex mb-10 pb-1 justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-6">
                                <div
                                    class="rounded-circle-shape bg-danger px-3 py-2 rounded-pill d-inline-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:users-group-rounded-bold-duotone"
                                        class="fs-7 text-white"></iconify-icon>
                                </div>
                                <h6 class="mb-0 fs-4 fw-medium text-muted">
                                    Total Penjualan
                                </h6>
                            </div>
                        </div>
                        <div class="row align-items-end justify-content-between">
                            <div class="col-5" *ngIf="total_count">
                                <h2 class="mb-6 fs-8">{{total_count}}</h2>
                                <span class="badge rounded-pill border border-muted fw-bold text-muted fs-2 py-1">+23%
                                    last
                                    month</span>
                            </div>
                            <div class="col-5">
                                <div id="total-followers" class="rounded-bars"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 d-flex align-items-stretch">
        <div class="card w-100 overflow-hidden">
            <div class="card-header">
                <h4 class="fs-4 mb-1 card-title">Transaksi Terbaru</h4>
            </div>
            <div class="table-responsive mb-3" style="border-radius: 1rem;">
                <table class="data-table table mb-0 tbl-server-info">
                    <thead class="bg-white">
                        <tr class="ligth ligth-data">
                            <th>History ID</th>
                            <th style="width: 250px;">Date</th>
                            <th>Bank</th>
                            <th style="width: 200px;">Amount</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="ligth-body">
                        <tr *ngFor="let transaction of recent_transaction">
                            <td>{{transaction.history_id}}</td>
                            <td>{{transaction.transaction_time}}</td>
                            <td><span class="badge rounded-pill border border-primary fw-bold text-primary fs-2 py-1">{{transaction.bank}}</span></td>
                            <td>{{transaction.gross_amount}}</td>
                            <td><span class="badge rounded-pill border border-success fw-bold text-success fs-2 py-1">{{transaction.transaction_status}}</span></td>
                            <td>{{transaction.product_type}}</td>
                            <td>
                                <div class="d-flex align-items-center list-action">
                                    <button class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="View"><i class="ti ti-eye"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="d-flex mb-3 justify-content-between align-items-center">
                    <h4 class="mb-0 card-title">Earning Reports</h4>
                    <div class="dropdown">
                        <button id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                            class="rounded-circle btn-transparent rounded-circle btn-sm px-1 btn shadow-none">
                            <i class="ti ti-dots-vertical fs-6"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="list-unstyled mb-0">
                    <li class="d-flex align-items-center justify-content-between py-10 border-bottom">
                        <div class="d-flex align-items-center">
                            <div
                                class="rounded-circle-shape bg-primary-subtle me-3 rounded-pill d-inline-flex align-items-center justify-content-center">
                                <iconify-icon icon="solar:card-line-duotone" class="fs-7 text-primary"></iconify-icon>
                            </div>
                            <div>
                                <h6 class="mb-1 fs-3">Bank Transfer</h6>
                                <p class="mb-0 fs-2 d-flex align-items-center gap-1">
                                    and +1 more<i class="ti ti-info-circle"></i>
                                </p>
                            </div>
                        </div>
                        <span
                            class="badge rounded-pill fw-medium fs-2 d-flex align-items-center bg-success-subtle text-success text-end"><i
                                class="ti ti-caret-up"></i>16.3%</span>
                    </li>

                    <li class="d-flex align-items-center justify-content-between py-10 border-bottom">
                        <div class="d-flex align-items-center">
                            <div
                                class="rounded-circle-shape bg-danger-subtle me-3 rounded-pill d-inline-flex align-items-center justify-content-center">
                                <iconify-icon icon="solar:wallet-2-line-duotone"
                                    class="fs-7 text-danger"></iconify-icon>
                            </div>
                            <div>
                                <h6 class="mb-1 fs-3">Net Profit</h6>
                                <p class="mb-0 fs-2 d-flex align-items-center gap-1">
                                    and +4 more<i class="ti ti-info-circle"></i>
                                </p>
                            </div>
                        </div>
                        <span
                            class="badge rounded-pill fw-medium fs-2 d-flex align-items-center bg-success-subtle text-success text-end"><i
                                class="ti ti-caret-up"></i>12.55%</span>
                    </li>

                    <li class="d-flex align-items-center justify-content-between py-10 border-bottom">
                        <div class="d-flex align-items-center">
                            <div
                                class="rounded-circle-shape bg-secondary-subtle me-3 rounded-pill d-inline-flex align-items-center justify-content-center">
                                <iconify-icon icon="solar:course-up-line-duotone"
                                    class="fs-7 text-secondary"></iconify-icon>
                            </div>
                            <div>
                                <h6 class="mb-1 fs-3">Total Income</h6>
                                <p class="mb-0 fs-2 d-flex align-items-center gap-1">
                                    and +4 more<i class="ti ti-info-circle"></i>
                                </p>
                            </div>
                        </div>
                        <span
                            class="badge rounded-pill fw-medium fs-2 d-flex align-items-center bg-success-subtle text-success text-end"><i
                                class="ti ti-caret-up"></i>12.55%</span>
                    </li>

                    <li class="d-flex align-items-center justify-content-between py-10 border-bottom">
                        <div class="d-flex align-items-center">
                            <div
                                class="rounded-circle-shape bg-light me-3 rounded-pill d-inline-flex align-items-center justify-content-center">
                                <iconify-icon icon="solar:waterdrops-line-duotone"
                                    class="fs-7 text-body-color"></iconify-icon>
                            </div>
                            <div>
                                <h6 class="mb-1 fs-3">Total Expenses</h6>
                                <p class="mb-0 fs-2 d-flex align-items-center gap-1">
                                    and +2 more<i class="ti ti-info-circle"></i>
                                </p>
                            </div>
                        </div>
                        <span
                            class="badge rounded-pill fw-medium fs-2 d-flex align-items-center bg-success-subtle text-success text-end"><i
                                class="ti ti-caret-up"></i>8.28%</span>
                    </li>

                    <li class="d-flex align-items-center justify-content-between py-10 border-bottom">
                        <div class="d-flex align-items-center">
                            <div
                                class="rounded-circle-shape bg-warning-subtle me-3 rounded-pill d-inline-flex align-items-center justify-content-center">
                                <iconify-icon icon="solar:waterdrops-line-duotone"
                                    class="fs-7 text-warning"></iconify-icon>
                            </div>
                            <div>
                                <h6 class="mb-1 fs-3">Marketing</h6>
                                <p class="mb-0 fs-2 d-flex align-items-center gap-1">
                                    and +3 more<i class="ti ti-info-circle"></i>
                                </p>
                            </div>
                        </div>
                        <span
                            class="badge rounded-pill fw-medium fs-2 d-flex align-items-center bg-success-subtle text-success text-end"><i
                                class="ti ti-caret-up"></i>9.25%</span>
                    </li>
                    <a href="javascript:void(0)" class="fs-4 mt-7 text-center d-block">View more markets</a>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="error-message">{{error_Message}}</div>
<hr class="my-4">
