<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
        class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="assets/logos/brand_devindex.png" alt="" style="width: 50%;">
                            </a>
                            <p class="text-center text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
                            <hr class="my-4">
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" formControlName="email"
                                        aria-describedby="emailHelp" style="border-radius: 1rem;">
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" formControlName="password"
                                        style="border-radius: 1rem;">
                                </div>
                                <hr class="my-4">
                                <button type="submit" class="btn w-100 py-8 fs-4 mb-4"
                                    style="background-color: #ff6200; color: white;">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="session-message" class="show">{{ sessionMessage }}</div>